.app{
    font-family: 'Sarabun', sans-serif;
    color: #fff;
    background-color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    align-items: center;
}
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* prevents width/height growth */
}

html, body {
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: 100%; /* prevents scaling issues */
  line-height: 1.5;
}
